img{
  width: 300px;
  height: 200px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
}
img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
body{
  text-align: center;
  
}
